@import './base.css';

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#app{
  display: flex;
  justify-content: center;
}
.section {
  height: 80%;
  width: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  -moz-box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  padding: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  gap: 35px;
}

.blockWithArrows {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.block {
  -webkit-box-shadow: 0 0 35px 2px rgba(98, 111, 182, 0.26);
  -moz-box-shadow: 0 0 35px 2px rgba(98, 111, 182, 0.26);
  box-shadow: 0 0 35px 2px rgba(98, 111, 182, 0.26);
  border-radius: 10px;
  padding: 25px;
}
.block li {
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 1px rgba(163, 170, 206, 0.26);
  -moz-box-shadow: 0 0 5px 1px rgba(163, 170, 206, 0.26);
  box-shadow: 0 0 5px 1px rgba(163, 170, 206, 0.26);
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s all ease-in;
}

.left .selectLine {
  background-color: rgba(0, 128, 0, 0.5);
}

.right .selectLine {
  background-color: rgba(255, 0, 0, 0.5);
}

.arrowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowCenter img {
  width: 60%;
}

.arrowButton {
  -webkit-box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  -moz-box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  box-shadow: 0 0 35px 9px rgba(98, 111, 182, 0.26);
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  height: 100px;
  width: 100px;
}
.arrowButton:hover {
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.arrowToLeft {
  transform: rotate(180deg);
}

.doubleArrowToRight {
  transform: rotate(90deg);
}

.doubleArrowToLeft {
  transform: rotate(-90deg);
}

@media screen and (max-width: 1201px) {
  .section {
    width: 90%;
    height: 90%;
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

}
@media screen and (max-width: 993px) {
  body {
    font-size: 1em;
    align-items: start;
  }
  #app{
    width: 100%;
  }
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 1fr;
    gap: 20px;
  }
  .blockWithArrows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .arrowButton{
    height: 70px;
    width: 70px;
  }
  .arrowToRight {
    transform: rotate(90deg);
  }
  .arrowToLeft {
    transform: rotate(-90deg);
  }
  .doubleArrowToRight {
    transform: rotate(180deg);
  }
  .doubleArrowToLeft {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 450px){
  .wrapper {
    grid-template-rows: 1fr 5% 1fr;
    gap: 15px;
  }
  .blockWithArrows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 10px;
  }
  .arrowButton{
    height: 50px;
    width: 50px;

  }
}
/*# sourceMappingURL=style.css.map */
